html/aprendizaje-articulo.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <!-- Titulo-->
    <title>Zona de Aprendizaje - Titulo de articulo :: HOSTING A1 </title>
    <!-- Links-->
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Muli:300,300i,400" rel="stylesheet"/>
    <!--Link para reportar-pago.html - JQUERY UI-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="icon" href="../favicon.ico"/>
  </head>
  <body>
    <!--Header-->
    <header id="header">
      <!-- Top bar-->
      <div class="top-bar-container container">
        <div class="top-bar row">
          <div class="col-md-3">
            <!-- Seleccionar País-Moneda-->
            <div id="menu-pais" class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"><span title="Peru" class="current"></span>Perú  <span class="caret"></span></a>
              <ul class="dropdown-menu paises">
                <li><a href="#"><span title="Argentina"></span>Argentina</a></li>
                <li><a href="#"><span title="Chile"></span>Chile</a></li>
                <li><a href="#"><span title="Colombia"></span>Colombia</a></li>
                <li><a href="#"><span title="Ecuador"></span>Ecuador</a></li>
                <li><a href="#"><span title="Espana"></span>España</a></li>
                <li><a href="#"><span title="Mexico"></span>México</a></li>
                <li><a href="#"><span title="Paraguay"></span>Paraguay</a></li>
                <li><a href="#"><span title="Peru"></span>Perú</a></li>
                <li><a href="#"><span title="Dominicana"></span>República Dominicana</a></li>
                <li><a href="#"><span title="Uruguay"></span>Uruguay</a></li>
                <li><a href="#"><span title="Otros"></span>Otros Paises</a></li>
              </ul>
            </div>
            <!--Selección de moneda-->
            <div id="menu-moneda" class="dropdown"><a data-toggle="dropdown" class="m-local dropdown-toggle">PEN S/.  <span class="caret"></span></a>
              <ul class="dropdown-menu moneda">
                <li><a href="#" class="m-local">PEN S/.</a></li>
                <li><a href="#">USD $</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="menu-topbar">
              <li><i aria-hidden="true" class="fa fa-phone"></i>Llámanos: 065 - 123 456 789</li>
              <li class="hidden"><i aria-hidden="true" class="fa fa-envelope"></i>Escríbenos: info@hostinga1.com</li>
              <li><a href="nosotros.html">Nosotros</a></li>
              <li><a href="soporte.html">Soporte</a></li>
              <li><a href="contacto.html">Contacto</a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-comment"></i>Chat</a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-users"></i>Acceso Clientes</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Seccion Head-->
      <div class="head clearfix">
        <!-- Menu de navegación-->
        <nav role="navigation" class="navbar container">
          <div class="row">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target="#main-menu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img id="logo" src="../img/logo_a1.png" alt="Hosting A1"></a>
            </div>
            <div id="main-menu" class="collapse navbar-collapse">
              <ul class="top-menu nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Inicio</a></li>
                <!-- Menú multinivel DOMINIOS-->
                <li class="menu-dominios"><a href="#">Dominios</a>
                  <div class="menu-container">
                    <div class="container clearfix">
                      <ul class="pull-left">
                        <li><a href="registrar-dominio.html" title="Registrar dominio"><i aria-hidden="true" class="fa fa-chevron-right"></i>                            REGISTRAR TU DOMINIO <br><span>Pon tu marca en internet ya mismo</span></a></li>
                        <li><a href="transferir-dominio.html" title="Transferir Dominio"><i aria-hidden="true" class="fa fa-chevron-right"></i>                            TRANSFERIR DOMINIO <br><span>En sencillos pasos</span></a></li>
                      </ul>
                      <ul class="description pull-left">
                        <li>
                          <h5 class="text-primary">GRATIS CON TU DOMINO</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                          <p class="text-primary"><span><i aria-hidden="true" class="fa fa-check-circle"></i> GESTIÓN DNS</span><span><i aria-hidden="true" class="fa fa-check-circle"></i> CONTROL PANEL</span><span><i aria-hidden="true" class="fa fa-check-circle"></i> SOPORTE 24/7</span></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="hosting-wordpress.html" title="Páginas web con Wordpress">Páginas Web</a></li>
                <!-- Menú Multinivel HOSTING-->
                <li class="menu-hosting"><a href="#">Hosting</a>
                  <div class="menu-container">
                    <div class="container clearfix">
                      <ul class="two-column">
                        <li><a href="hosting-economico.html" title="Hosting web"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING ECONÓMICO <br><span>Con todas las herramientas que necesitas.</span></a></li>
                        <li><a href="hosting-empresarial.html" title="Hosting empresa"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING EMPRESA <br><span>Con toda la tecnología cloud.</span></a></li>
                        <li><a href="hosting-wordpress.html" title="Hosting wordpress"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING WORDPRESS <br><span>Wordpress al instante.</span></a></li>
                        <!--ul.pull-left-->
                        <li><a href="hosting-para-windows.html" title="Hosting ASP.NET"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING ASP.NET <br><span>Más MSSQL.</span></a></li>
                        <li><a href="hosting-reseller.html" title="Hosting wordpress"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING RESELLER<br><span>Inicia tu negocio.</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="servidores-vps.html" title="Servidores">Servidores</a></li>
                <li><a href="seguridad-ssl.html" title="Seguridad">Seguridad</a></li>
                <li><a href="blog.html" title="Blog">Blog</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--Main-Wrapper-->
    <div class="main-wrapper">
      <!--Barra de título de la página-->
      <header class="header-bar">
        <div class="container">
          <div class="head-page">
            <h1><span>ZONA DE APRENDIZAJE</span></h1>
          </div>
        </div>
      </header>
      <!--Sección de Post-->
      <section id="pg-post" class="main-content container">
        <div class="row">
          <div class="post-entry col-md-9">
            <h3 class="title-entry"><a href="#">TÍTULO ARTÍCULO 2017 CHRYSLER PACIFICA</a></h3>
            <div class="post-meta"><span><i aria-hidden="true" class="fa fa-calendar"></i>Abril 08, 2016</span><small>/</small><span><i aria-hidden="true" class="fa fa-comments"></i>123</span><small>/</small><span><i aria-hidden="true" class="fa fa-heart"></i>321</span><small>/</small><span class="category"><i aria-hidden="true" class="fa fa-folder"></i><a href="aprendizaje-category-search.html" rel="category tag">Categoría 1</a></span></div>
            <div class="post-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
              <p class="text-center"><img src="../img/img_articulo.jpg" alt="Título del Post"></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.<a href="#">Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </a>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
              <p><em>“Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.”</em></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
              <h5>SUBTÍTULO</h5>
              <ul class="list-circle">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                <li>Aenean euismod bibendum laoreet. </li>
                <li>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</li>
                <li>Proin sodales pulvinar tempor. </li>
                <li>Cum sociis natoque penatibus et magnis dis parturient montes.</li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
              <div class="post-utility">¿Te ayudo este articulo?<a href="#" class="useful">Si</a><a href="#" class="useless">No</a></div>
            </div>
            <!--Post similares de Aprendizaje. Categoría del mismo elemento-->
            <div class="category-learn widget">
              <h2>Artículos relacionados</h2>
              <ul class="article-list">
                <li><a href="#">Configurar Outloook 2003</a>
                  <div class="meta-learn"> <span><i class="fa fa-comments"></i>123</span><small>/</small><span><i class="fa fa-heart"></i>321</span></div>
                </li>
                <li><a href="#">Configurar Correo en Eudora</a>
                  <div class="meta-learn"> <span><i class="fa fa-comments"></i>123</span><small>/</small><span><i class="fa fa-heart"></i>321</span></div>
                </li>
                <li><a href="#">Manejar Base de Datos con PHPMyAdmin</a>
                  <div class="meta-learn"> <span><i class="fa fa-comments"></i>123</span><small>/</small><span><i class="fa fa-heart"></i>321</span></div>
                </li>
                <li><a href="#">Manejar Base de Datos con PHPMyAdmin</a>
                  <div class="meta-learn"> <span><i class="fa fa-comments"></i>123</span><small>/</small><span><i class="fa fa-heart"></i>321</span></div>
                </li>
                <li><a href="#">Configurar Correo en Outlook 2007</a>
                  <div class="meta-learn"> <span><i class="fa fa-comments"></i>123</span><small>/</small><span><i class="fa fa-heart"></i>321</span></div>
                </li>
              </ul>
            </div>
            <!--Lista de Comentarios         -->
            <div class="post-comments">
              <h3 class="widget-title">Comentarios</h3>
              <ul class="comment-list">
                <li>
                  <div class="comment">
                    <h5>WALTHER AYALA<span class="time">Ago. 08, 2016</span></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.</p>
                    <div class="meta-data">
                      <div class="value"><span><a class="fa fa-thumbs-up"> </a>12</span><span><a class="fa fa-thumbs-down"> </a>5</span></div><a href="#" class="reply">Responder</a>
                    </div>
                    <!--Respuesta a comentario-->
                  </div>
                  <ul class="comments-reply">
                    <li>
                      <div class="comment">
                        <h5>WALTHER AYALA<span class="time">Ago. 08, 2016</span></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.</p>
                        <div class="meta-data">
                          <div class="value"><span><a class="fa fa-thumbs-up"> </a>12</span><span><a class="fa fa-thumbs-down"> </a>5</span></div><a href="#" class="reply">Responder</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="comment">
                    <h5>WALTHER AYALA<span class="time">Ago. 08, 2016</span></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.</p>
                    <div class="meta-data">
                      <div class="value"><span><a class="fa fa-thumbs-up"> </a>12</span><span><a class="fa fa-thumbs-down"> </a>5</span></div><a href="#" class="reply">Responder</a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="more-comments"><a href="#" class="btn-special btn-primary">Cargar más comentarios</a></div>
            </div>
            <div class="leave-comment">
              <h3 class="widget-title">ENVÍANOS TUS COMENTARIOS</h3>
              <form class="comment-form">
                <p class="form-inline clearfix">
                  <input type="text" placeholder="Nombre" class="form-control">
                  <input type="text" placeholder="Apellidos" class="form-control">
                </p>
                <p>
                  <input type="email" placeholder="Correo electrónico" class="form-control">
                </p>
                <p>
                  <textarea placeholder="Deja aquí tu comentario" class="form-control"></textarea>
                </p>
                <p class="text-right">
                  <input type="submit" value="Enviar comentario" class="btn btn-default">
                </p>
              </form>
            </div>
          </div>
          <!--Sidebar para Post de Zona de Aprendizaje-->
          <aside id="sidebar" class="col-md-3">
            <div class="widget widget_search">
              <form>
                <div class="input-group">
                  <input type="text" placeholder="Buscar..." class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></span>
                </div>
              </form>
            </div>
            <div class="widget widget_categories">
              <h4 class="widget-title">Categorías</h4>
              <ul>
                <li class="cat-item"><a href="#">Correo <span>(10)</span></a></li>
                <li class="cat-item"><a href="#">Plesk (Panel de Control) <span>(10)</span></a></li>
                <li class="cat-item"><a href="#">Centova (Panel de Streaming) <span>(22)</span></a></li>
                <li class="cat-item"><a href="#">Reseller (Panel Plesk) <span>(34)</span></a></li>
                <li class="cat-item"><a href="#">Google Apps <span>(50)                       </span></a></li>
              </ul>
            </div>
            <div class="widget widget_hosting-wp"><a href="#">
                <h2>HOSTING <br>WORDPRESS</h2></a></div>
            <div class="widget widget_dominio"><a href="#">
                <h2>BUSCA <br>TU DOMINIO</h2></a></div>
            <div class="widget widget_vps"><a href="#">
                <h2>ENCUENTRA<br>TU PLAN VPS </h2></a></div>
          </aside>
        </div>
      </section>
    </div>
    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="logo-footer col-md-2 col-sm-6"><img src="../img/logo_a1_gray.png" alt="Logo Hosting A1" class="logo-a1"></div>
          <div class="recent-posts col-md-4 col-sm-6">
            <p class="title-1">ENTRADAS RECIENTES
              <ul class="media-list">
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">This should be interesting</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">Objectively seize scalable</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">This should be interesting</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
              </ul>
            </p>
          </div>
          <div class="suscription col-md-4 col-sm-6">
            <p class="title-1">SUSCRIBIRSE</p>
            <p class="date mg-57">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <form class="input-group">
              <input type="text" placeholder="nombre@dominio.com" class="form-control"><span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"> </i></button></span>
            </form>
          </div>
          <div class="socials col-md-2 col-sm-6">
            <p class="title-1">SÍGUENOS</p>
            <p class="text-center"><span><a href="#" target="_blank" title="Síguenos en Facebook" class="fa fa-facebook"></a></span><span><a href="#" target="_blank" title="Síguenos en Twitter" class="fa fa-twitter"></a></span><span><a href="#" target="_blank" title="Síguenos en Instagram" class="fa fa-instagram"></a></span></p>
          </div>
        </div>
        <hr class="bar">
        <ul class="menu-footer clearfix">
          <li><a href="politica-de-privacidad.html">Políticas de Privacidad</a></li>
          <li><a href="terminos-y-condiciones.html">Terminos y condiciones</a></li>
          <li><a href="nosotros.html">Nosotros</a></li>
          <li><a href="soporte.html">Soporte</a></li>
          <li><a href="contacto.html">Contácto</a></li>
          <li><a href="#">Acceso clientes</a></li>
        </ul>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <p class="col-sm-8">Hosting A1. Todos los derechos reservados © 2016 Arequipa - Perú</p>
            <p class="col-sm-4"><span>Powered by</span><a href="http://atixplus.com/" target="_blank" title="Atix Plus" class="logo-atix"></a></p>
          </div>
        </div>
      </div>
      <!--To-top    --><a id="to-top" href="#top" class="to-top fa fa-chevron-up"></a>
    </footer>
    <!--Scripts     -->
    <!--script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/slick.js"></script>
    <!--Script para modificar carousel de bootstrap (sliders)-->
    <script type="text/javascript">
      $(document).ready(function(){
        //Slider de precios en home
        $("#offers-slider").carousel({
          interval: 3500
        });
      
        //Slider de Banner
        $("#banner-slider").carousel({
          interval: 3500
        });
      })
    </script>
    <!--Script para slider de testimonios en Home-->
    <script type="text/javascript">
      $(document).ready(function(){
        //Función para estilos de Slider para home
        $('.testimonials-slider').slick({
          centerMode      : true,
          centerPadding   : '0px',
          slidesToShow    : 5,
          autoplay        :false,
          autoplaySpeed   :3000,
          arrows          :false,
          dots            :true,
          infinite        :true,
          responsive: [
                        {
                            breakpoint: 1199,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 5                        }
                        },
                        {
                            breakpoint: 992,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 3                        }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 3                        }
                        },
                        {
                            breakpoint: 641,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 1                        }
                        }
                    ]
          });    
      });
      
      /*Mover slider al hacer clic sobre la imagen*/
       $(".testimonials-slider .image").click(function(){
         var position = $(this).parent().data("slick-index");
         $('.testimonials-slider').slick('slickGoTo', position );
       })
       
    </script>
    <!--Script para Smooth Scroll-->
    <script type="text/javascript">
      //Función para estilos de smoot scroll
      $(document).ready(function()
      {
        // Ocultar elemento a#to-top
        var windowHeight = window.innerHeight;
      
        $(window).scroll(function()
        {
          if ($(this).scrollTop() < windowHeight)
          {
            $('#to-top') .fadeOut();
          } else
          {
            $('#to-top') .fadeIn();
          }
        });
      
        // Desplazamiento scrroll hacia arriba de a#to-top
        $('#to-top').on('click', function()
        {
          $('html, body').animate({scrollTop:0}, 'slow');
          return false;
        });
      
        //Desplazamiento a tablas de caracteristicas
        $("a.to-table").click(function(e) {
            e.preventDefault();
            var link = $(this);  
            var anchor  = link.attr('href');  
            $("html, body").animate({scrollTop: $(anchor).offset().top}, 'slow');
          });    
      });
      
    </script>
    <!--Scripts para la pagina de Zona-aprendizaje.html -Masonry gallery-->
    <script src="../js/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
      var container = document.querySelector('#masonry');
      var masonry = new Masonry(container, {
        itemSelector: '.masonry-item',
        resize      : true
      });
      
    </script>
    <!--Script para upload file Página de reportar-pago.html-->
    <script>
      $("input#comprobante").change(function()
      {
        $("span#file-archivo").html($(this).val());
      }).css('border-width',function()
      {
        if(navigator.appName == "Microsoft Internet Explorer")
          return 0;
      });
      
    </script>
    <!--Script para activar los Popover de reportar-pago.html-->
    <script>
      $('[data-toggle="popover"]').popover({
         trigger: 'focus',
         container: 'body'
      });
      
    </script>
    <!--Script para plugin Datepicker-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( "#datepicker" ).datepicker({
        maxDate: "+0D",
        dateFormat: "dd-mm-yy"
      });
      $( "#fecha" ).click(function(){
        $( "#datepicker" ).datepicker("show");
      })
    </script>
  </body>
</html>

jade/aprendizaje-articulo.jade
//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Zona de Aprendizaje - Titulo de articulo :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //Barra de título de la página
      +header-bar('ZONA DE APRENDIZAJE')
      //Sección de Post
      section#pg-post.main-content.container
        .row
          .post-entry.col-md-9
              h3.title-entry: a(href="#") TÍTULO ARTÍCULO 2017 CHRYSLER PACIFICA
              .post-meta
                span
                  i.fa.fa-calendar(aria-hidden='true')
                  | Abril 08, 2016
                small /
                span
                  i.fa.fa-comments(aria-hidden='true')
                  | 123
                small /
                span
                  i.fa.fa-heart(aria-hidden='true')
                  | 321
                small /
                span.category
                  i.fa.fa-folder(aria-hidden='true')
                  a(href='aprendizaje-category-search.html', rel='category tag') Categoría 1
              
              .post-content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                p.text-center: img(src="../img/img_articulo.jpg" alt="Título del Post")
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                  a(href="#") Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                  | Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                p
                  em “Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.”
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                h5 SUBTÍTULO
                ul.list-circle
                  li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  li Aenean euismod bibendum laoreet. 
                  li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  li Proin sodales pulvinar tempor. 
                  li Cum sociis natoque penatibus et magnis dis parturient montes.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

                .post-utility
                  | ¿Te ayudo este articulo?
                  a.useful(href="#") Si
                  a.useless(href="#") No
              
              //Post similares de Aprendizaje. Categoría del mismo elemento
              .category-learn.widget
                h2 Artículos relacionados
                ul.article-list
                  li
                    a(href="#") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li
                    a(href="#") Configurar Correo en Eudora
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li
                    a(href="#") Manejar Base de Datos con PHPMyAdmin
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li
                    a(href="#") Manejar Base de Datos con PHPMyAdmin
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321

                  li
                    a(href="#") Configurar Correo en Outlook 2007
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321

              //Lista de Comentarios         
              .post-comments
                h3.widget-title Comentarios
                ul.comment-list
                  li
                    .comment
                      h5 WALTHER AYALA
                        span.time Ago. 08, 2016
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.
                      .meta-data
                        .value
                          span
                            a.fa.fa-thumbs-up 
                            | 12
                          span
                            a.fa.fa-thumbs-down  
                            | 5
                        a.reply(href="#") Responder

                      //Respuesta a comentario
                    ul.comments-reply
                      li
                        .comment
                          h5 WALTHER AYALA
                            span.time Ago. 08, 2016
                          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.
                          .meta-data
                            .value
                              span
                                a.fa.fa-thumbs-up 
                                | 12
                              span
                                a.fa.fa-thumbs-down  
                                | 5
                            a.reply(href="#") Responder
                  //-Comentario 2
                  li
                    .comment
                      h5 WALTHER AYALA
                        span.time Ago. 08, 2016
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.
                      .meta-data
                        .value
                          span
                            a.fa.fa-thumbs-up 
                            | 12
                          span
                            a.fa.fa-thumbs-down  
                            | 5
                        a.reply(href="#") Responder

                //-Fin UL
                .more-comments
                  a.btn-special.btn-primary(href="#") Cargar más comentarios
              
              //-Sección para Formulario de comentarios
              .leave-comment
                h3.widget-title ENVÍANOS TUS COMENTARIOS
                form.comment-form
                  p.form-inline.clearfix
                    input.form-control(type="text", placeholder="Nombre")
                    input.form-control(type="text", placeholder="Apellidos")
                  p: input.form-control(type="email", placeholder="Correo electrónico")
                  p: textarea.form-control(placeholder="Deja aquí tu comentario")
                  p.text-right: input.btn.btn-default(type="submit", value="Enviar comentario")

          //-añadir Aside en caso el elemento requira sidebar
          //Sidebar para Post de Zona de Aprendizaje
          include ./include/sidebar-aprendizaje.jade
          
    // Footer 
    include ./include/footer.jade
