jade/blog.jade
//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Blog  :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //Barra de título de la página
      +header-bar('Blog Hosting A1')
      //Sección de Blog
      section#pg-blog.main-content.container
        .row
          .list-posts.col-md-9
            .posts-here
              .item-post
                h3.title-entry: a(href="#") 2017 CHRYSLER PACIFICA
                .post-meta
                  span
                    i.fa.fa-calendar(aria-hidden='true')
                    | Abril 08, 2016
                  small /
                  span
                    i.fa.fa-comments(aria-hidden='true')
                    | 123
                  small /
                  span
                    i.fa.fa-heart(aria-hidden='true')
                    | 321
                  small /
                  span.category
                    i.fa.fa-folder(aria-hidden='true')
                    a(href='#', rel='category tag') Categoría 1
                .post-media
                  a(href="#" ): img(src="http://lorempixel.com/output/technics-q-g-690-350-8.jpg" alt="Titulo del Post")
                p.post-extract
                  |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque.
                .post-more.text-right
                  | Compartir
                  a(href='#', title="Compártelo en Facebook"): i.fa.fa-facebook(aria-hidden='true')
                  a(href='#', title="Compártelo en Twitter"): i.fa.fa-twitter(aria-hidden='true')
                  a(href='#', title="Compártelo en Google Plus"): i.fa.fa-google(aria-hidden='true')
                  span: a(href='#').btn.btn-primary Leer Más

              .item-post
                h3.title-entry: a(href="#") 2017 CHRYSLER PACIFICA
                .post-meta
                  span
                    i.fa.fa-calendar(aria-hidden='true')
                    | Abril 08, 2016
                  small /
                  span
                    i.fa.fa-comments(aria-hidden='true')
                    | 123
                  small /
                  span
                    i.fa.fa-heart(aria-hidden='true')
                    | 321
                  small /
                  span.category
                    i.fa.fa-folder(aria-hidden='true')
                    a(href='#', rel='category tag') Categoría 1
                .post-media
                  a(href="#" ): img(src="http://lorempixel.com/output/technics-q-g-690-350-8.jpg" alt="Titulo del Post")
                p.post-extract
                  |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque.
                .post-more.text-right
                  | Compartir
                  a(href='#', title="Compártelo en Facebook"): i.fa.fa-facebook(aria-hidden='true')
                  a(href='#', title="Compártelo en Twitter"): i.fa.fa-twitter(aria-hidden='true')
                  a(href='#', title="Compártelo en Google Plus"): i.fa.fa-google(aria-hidden='true')
                  span: a(href='#').btn.btn-primary Leer Más
            
            //-Paginacion
            .post-nav
              span.nav-prev
                a.prev.btn-special.btn-primary(href='#') Anterior
              span.current.nav-number 1
              a.nav-number(href='#', title='2') 2
              a.nav-number(href='#', title='2') 3
              a.nav-number(href='#', title='2') 4
              a.nav-number(href='#', title='2') 5
              a.nav-number(href='#', title='2') 6
              a.nav-number(href='#', title='2') 7
              a.nav-number(href='#', title='2') 8          
              span.nav-next
                a.next.btn-special.btn-primary(href='#') Siguiente
          //-añadir Aside en caso el elemento requira sidebar
          //Sidebar para Blog
          include ./include/sidebar.jade

    // Footer 
    include ./include/footer.jade

html/blog.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <!-- Titulo-->
    <title>Blog  :: HOSTING A1 </title>
    <!-- Links-->
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Muli:300,300i,400" rel="stylesheet"/>
    <!--Link para reportar-pago.html - JQUERY UI-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="icon" href="../favicon.ico"/>
  </head>
  <body>
    <!--Header-->
    <header id="header">
      <!-- Top bar-->
      <div class="top-bar-container container">
        <div class="top-bar row">
          <div class="col-md-3">
            <!-- Seleccionar País-Moneda-->
            <div id="menu-pais" class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"><span title="Peru" class="current"></span>Perú  <span class="caret"></span></a>
              <ul class="dropdown-menu paises">
                <li><a href="#"><span title="Argentina"></span>Argentina</a></li>
                <li><a href="#"><span title="Chile"></span>Chile</a></li>
                <li><a href="#"><span title="Colombia"></span>Colombia</a></li>
                <li><a href="#"><span title="Ecuador"></span>Ecuador</a></li>
                <li><a href="#"><span title="Espana"></span>España</a></li>
                <li><a href="#"><span title="Mexico"></span>México</a></li>
                <li><a href="#"><span title="Paraguay"></span>Paraguay</a></li>
                <li><a href="#"><span title="Peru"></span>Perú</a></li>
                <li><a href="#"><span title="Dominicana"></span>República Dominicana</a></li>
                <li><a href="#"><span title="Uruguay"></span>Uruguay</a></li>
                <li><a href="#"><span title="Otros"></span>Otros Paises</a></li>
              </ul>
            </div>
            <!--Selección de moneda-->
            <div id="menu-moneda" class="dropdown"><a data-toggle="dropdown" class="m-local dropdown-toggle">PEN S/.  <span class="caret"></span></a>
              <ul class="dropdown-menu moneda">
                <li><a href="#" class="m-local">PEN S/.</a></li>
                <li><a href="#">USD $</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="menu-topbar">
              <li><i aria-hidden="true" class="fa fa-phone"></i>Llámanos: 065 - 123 456 789</li>
              <li class="hidden"><i aria-hidden="true" class="fa fa-envelope"></i>Escríbenos: info@hostinga1.com</li>
              <li><a href="nosotros.html">Nosotros</a></li>
              <li><a href="soporte.html">Soporte</a></li>
              <li><a href="contacto.html">Contacto</a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-comment"></i>Chat</a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-users"></i>Acceso Clientes</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Seccion Head-->
      <div class="head clearfix">
        <!-- Menu de navegación-->
        <nav role="navigation" class="navbar container">
          <div class="row">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target="#main-menu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img id="logo" src="../img/logo_a1.png" alt="Hosting A1"></a>
            </div>
            <div id="main-menu" class="collapse navbar-collapse">
              <ul class="top-menu nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Inicio</a></li>
                <!-- Menú multinivel DOMINIOS-->
                <li class="menu-dominios"><a href="#">Dominios</a>
                  <div class="menu-container">
                    <div class="container clearfix">
                      <ul class="pull-left">
                        <li><a href="registrar-dominio.html" title="Registrar dominio"><i aria-hidden="true" class="fa fa-chevron-right"></i>                            REGISTRAR TU DOMINIO <br><span>Pon tu marca en internet ya mismo</span></a></li>
                        <li><a href="transferir-dominio.html" title="Transferir Dominio"><i aria-hidden="true" class="fa fa-chevron-right"></i>                            TRANSFERIR DOMINIO <br><span>En sencillos pasos</span></a></li>
                      </ul>
                      <ul class="description pull-left">
                        <li>
                          <h5 class="text-primary">GRATIS CON TU DOMINO</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                          <p class="text-primary"><span><i aria-hidden="true" class="fa fa-check-circle"></i> GESTIÓN DNS</span><span><i aria-hidden="true" class="fa fa-check-circle"></i> CONTROL PANEL</span><span><i aria-hidden="true" class="fa fa-check-circle"></i> SOPORTE 24/7</span></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="hosting-wordpress.html" title="Páginas web con Wordpress">Páginas Web</a></li>
                <!-- Menú Multinivel HOSTING-->
                <li class="menu-hosting"><a href="#">Hosting</a>
                  <div class="menu-container">
                    <div class="container clearfix">
                      <ul class="two-column">
                        <li><a href="hosting-economico.html" title="Hosting web"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING ECONÓMICO <br><span>Con todas las herramientas que necesitas.</span></a></li>
                        <li><a href="hosting-empresarial.html" title="Hosting empresa"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING EMPRESA <br><span>Con toda la tecnología cloud.</span></a></li>
                        <li><a href="hosting-wordpress.html" title="Hosting wordpress"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING WORDPRESS <br><span>Wordpress al instante.</span></a></li>
                        <!--ul.pull-left-->
                        <li><a href="hosting-para-windows.html" title="Hosting ASP.NET"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING ASP.NET <br><span>Más MSSQL.</span></a></li>
                        <li><a href="hosting-reseller.html" title="Hosting wordpress"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING RESELLER<br><span>Inicia tu negocio.</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="servidores-vps.html" title="Servidores">Servidores</a></li>
                <li><a href="seguridad-ssl.html" title="Seguridad">Seguridad</a></li>
                <li><a href="blog.html" title="Blog">Blog</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--Main-Wrapper-->
    <div class="main-wrapper">
      <!--Barra de título de la página-->
      <header class="header-bar">
        <div class="container">
          <div class="head-page">
            <h1><span>Blog Hosting A1</span></h1>
          </div>
        </div>
      </header>
      <!--Sección de Blog-->
      <section id="pg-blog" class="main-content container">
        <div class="row">
          <div class="list-posts col-md-9">
            <div class="posts-here">
              <div class="item-post">
                <h3 class="title-entry"><a href="#">2017 CHRYSLER PACIFICA</a></h3>
                <div class="post-meta"><span><i aria-hidden="true" class="fa fa-calendar"></i>Abril 08, 2016</span><small>/</small><span><i aria-hidden="true" class="fa fa-comments"></i>123</span><small>/</small><span><i aria-hidden="true" class="fa fa-heart"></i>321</span><small>/</small><span class="category"><i aria-hidden="true" class="fa fa-folder"></i><a href="#" rel="category tag">Categoría 1</a></span></div>
                <div class="post-media"><a href="#"><img src="http://lorempixel.com/output/technics-q-g-690-350-8.jpg" alt="Titulo del Post"></a></div>
                <p class="post-extract"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque.</p>
                <div class="post-more text-right">Compartir<a href="#" title="Compártelo en Facebook"><i aria-hidden="true" class="fa fa-facebook"></i></a><a href="#" title="Compártelo en Twitter"><i aria-hidden="true" class="fa fa-twitter"></i></a><a href="#" title="Compártelo en Google Plus"><i aria-hidden="true" class="fa fa-google"></i></a><span><a href="#" class="btn btn-primary">Leer Más</a></span></div>
              </div>
              <div class="item-post">
                <h3 class="title-entry"><a href="#">2017 CHRYSLER PACIFICA</a></h3>
                <div class="post-meta"><span><i aria-hidden="true" class="fa fa-calendar"></i>Abril 08, 2016</span><small>/</small><span><i aria-hidden="true" class="fa fa-comments"></i>123</span><small>/</small><span><i aria-hidden="true" class="fa fa-heart"></i>321</span><small>/</small><span class="category"><i aria-hidden="true" class="fa fa-folder"></i><a href="#" rel="category tag">Categoría 1</a></span></div>
                <div class="post-media"><a href="#"><img src="http://lorempixel.com/output/technics-q-g-690-350-8.jpg" alt="Titulo del Post"></a></div>
                <p class="post-extract"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque.</p>
                <div class="post-more text-right">Compartir<a href="#" title="Compártelo en Facebook"><i aria-hidden="true" class="fa fa-facebook"></i></a><a href="#" title="Compártelo en Twitter"><i aria-hidden="true" class="fa fa-twitter"></i></a><a href="#" title="Compártelo en Google Plus"><i aria-hidden="true" class="fa fa-google"></i></a><span><a href="#" class="btn btn-primary">Leer Más</a></span></div>
              </div>
            </div>
            <div class="post-nav"><span class="nav-prev"><a href="#" class="prev btn-special btn-primary">Anterior</a></span><span class="current nav-number">1</span><a href="#" title="2" class="nav-number">2</a><a href="#" title="2" class="nav-number">3</a><a href="#" title="2" class="nav-number">4</a><a href="#" title="2" class="nav-number">5</a><a href="#" title="2" class="nav-number">6</a><a href="#" title="2" class="nav-number">7</a><a href="#" title="2" class="nav-number">8          </a><span class="nav-next"><a href="#" class="next btn-special btn-primary">Siguiente</a></span></div>
          </div>
          <!--Sidebar para Blog-->
          <aside id="sidebar" class="col-md-3">
            <div class="widget widget_search">
              <form>
                <div class="input-group">
                  <input type="text" placeholder="Buscar..." class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></span>
                </div>
              </form>
            </div>
            <div class="widget widget_categories">
              <h4 class="widget-title">Categorías</h4>
              <ul>
                <li class="cat-item"><a href="#">Blog <span>(10)</span></a></li>
                <li class="cat-item"><a href="#">Hosting <span>(22)</span></a></li>
                <li class="cat-item"><a href="#">Dominios <span>(34)</span></a></li>
                <li class="cat-item"><a href="#">VPS <span>(50)                       </span></a></li>
              </ul>
            </div>
            <div class="widget widget_suscription">
              <h4 class="widget-title">Suscripción</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit consectetur laborum inventore distinctio suscipit dolorum ex dolore, eos pariatur beatae, perspiciatis corporis?</p>
              <form>
                <div class="input-group">
                  <input type="text" placeholder="nombre@dominio.com" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"> </i></button></span>
                </div>
              </form>
            </div>
            <div class="widget widget_hosting-wp"><a href="#">
                <h2>HOSTING <br>WORDPRESS</h2></a></div>
            <div class="widget widget_dominio"><a href="#">
                <h2>BUSCA <br>TU DOMINIO</h2></a></div>
            <div class="widget widget_vps"><a href="#">
                <h2>ENCUENTRA<br>TU PLAN VPS </h2></a></div>
          </aside>
        </div>
      </section>
    </div>
    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="logo-footer col-md-2 col-sm-6"><img src="../img/logo_a1_gray.png" alt="Logo Hosting A1" class="logo-a1"></div>
          <div class="recent-posts col-md-4 col-sm-6">
            <p class="title-1">ENTRADAS RECIENTES
              <ul class="media-list">
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">This should be interesting</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">Objectively seize scalable</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">This should be interesting</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
              </ul>
            </p>
          </div>
          <div class="suscription col-md-4 col-sm-6">
            <p class="title-1">SUSCRIBIRSE</p>
            <p class="date mg-57">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <form class="input-group">
              <input type="text" placeholder="nombre@dominio.com" class="form-control"><span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"> </i></button></span>
            </form>
          </div>
          <div class="socials col-md-2 col-sm-6">
            <p class="title-1">SÍGUENOS</p>
            <p class="text-center"><span><a href="#" target="_blank" title="Síguenos en Facebook" class="fa fa-facebook"></a></span><span><a href="#" target="_blank" title="Síguenos en Twitter" class="fa fa-twitter"></a></span><span><a href="#" target="_blank" title="Síguenos en Instagram" class="fa fa-instagram"></a></span></p>
          </div>
        </div>
        <hr class="bar">
        <ul class="menu-footer clearfix">
          <li><a href="politica-de-privacidad.html">Políticas de Privacidad</a></li>
          <li><a href="terminos-y-condiciones.html">Terminos y condiciones</a></li>
          <li><a href="nosotros.html">Nosotros</a></li>
          <li><a href="soporte.html">Soporte</a></li>
          <li><a href="contacto.html">Contácto</a></li>
          <li><a href="#">Acceso clientes</a></li>
        </ul>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <p class="col-sm-8">Hosting A1. Todos los derechos reservados © 2016 Arequipa - Perú</p>
            <p class="col-sm-4"><span>Powered by</span><a href="http://atixplus.com/" target="_blank" title="Atix Plus" class="logo-atix"></a></p>
          </div>
        </div>
      </div>
      <!--To-top    --><a id="to-top" href="#top" class="to-top fa fa-chevron-up"></a>
    </footer>
    <!--Scripts     -->
    <!--script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/slick.js"></script>
    <!--Script para modificar carousel de bootstrap (sliders)-->
    <script type="text/javascript">
      $(document).ready(function(){
        //Slider de precios en home
        $("#offers-slider").carousel({
          interval: 3500
        });
      
        //Slider de Banner
        $("#banner-slider").carousel({
          interval: 3500
        });
      })
    </script>
    <!--Script para slider de testimonios en Home-->
    <script type="text/javascript">
      $(document).ready(function(){
        //Función para estilos de Slider para home
        $('.testimonials-slider').slick({
          centerMode      : true,
          centerPadding   : '0px',
          slidesToShow    : 5,
          autoplay        :false,
          autoplaySpeed   :3000,
          arrows          :false,
          dots            :true,
          infinite        :true,
          responsive: [
                        {
                            breakpoint: 1199,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 5                        }
                        },
                        {
                            breakpoint: 992,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 3                        }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 3                        }
                        },
                        {
                            breakpoint: 641,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 1                        }
                        }
                    ]
          });    
      });
      
      /*Mover slider al hacer clic sobre la imagen*/
       $(".testimonials-slider .image").click(function(){
         var position = $(this).parent().data("slick-index");
         $('.testimonials-slider').slick('slickGoTo', position );
       })
       
    </script>
    <!--Script para Smooth Scroll-->
    <script type="text/javascript">
      //Función para estilos de smoot scroll
      $(document).ready(function()
      {
        // Ocultar elemento a#to-top
        var windowHeight = window.innerHeight;
      
        $(window).scroll(function()
        {
          if ($(this).scrollTop() < windowHeight)
          {
            $('#to-top') .fadeOut();
          } else
          {
            $('#to-top') .fadeIn();
          }
        });
      
        // Desplazamiento scrroll hacia arriba de a#to-top
        $('#to-top').on('click', function()
        {
          $('html, body').animate({scrollTop:0}, 'slow');
          return false;
        });
      
        //Desplazamiento a tablas de caracteristicas
        $("a.to-table").click(function(e) {
            e.preventDefault();
            var link = $(this);  
            var anchor  = link.attr('href');  
            $("html, body").animate({scrollTop: $(anchor).offset().top}, 'slow');
          });    
      });
      
    </script>
    <!--Scripts para la pagina de Zona-aprendizaje.html -Masonry gallery-->
    <script src="../js/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
      var container = document.querySelector('#masonry');
      var masonry = new Masonry(container, {
        itemSelector: '.masonry-item',
        resize      : true
      });
      
    </script>
    <!--Script para upload file Página de reportar-pago.html-->
    <script>
      $("input#comprobante").change(function()
      {
        $("span#file-archivo").html($(this).val());
      }).css('border-width',function()
      {
        if(navigator.appName == "Microsoft Internet Explorer")
          return 0;
      });
      
    </script>
    <!--Script para activar los Popover de reportar-pago.html-->
    <script>
      $('[data-toggle="popover"]').popover({
         trigger: 'focus',
         container: 'body'
      });
      
    </script>
    <!--Script para plugin Datepicker-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( "#datepicker" ).datepicker({
        maxDate: "+0D",
        dateFormat: "dd-mm-yy"
      });
      $( "#fecha" ).click(function(){
        $( "#datepicker" ).datepicker("show");
      })
    </script>
  </body>
</html>
