html/nosotros.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <!-- Titulo-->
    <title>Nosotros  :: HOSTING A1 </title>
    <!-- Links-->
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Muli:300,300i,400" rel="stylesheet"/>
    <!--Link para reportar-pago.html - JQUERY UI-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="icon" href="../favicon.ico"/>
  </head>
  <body>
    <!--header-->
    <header id="header">
      <!-- Top bar-->
      <div class="top-bar-container container">
        <div class="top-bar row">
          <div class="col-md-3">
            <!-- Seleccionar País-Moneda-->
            <div id="menu-pais" class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"><span title="Peru" class="current"></span>Perú  <span class="caret"></span></a>
              <ul class="dropdown-menu paises">
                <li><a href="#"><span title="Argentina"></span>Argentina</a></li>
                <li><a href="#"><span title="Chile"></span>Chile</a></li>
                <li><a href="#"><span title="Colombia"></span>Colombia</a></li>
                <li><a href="#"><span title="Ecuador"></span>Ecuador</a></li>
                <li><a href="#"><span title="Espana"></span>España</a></li>
                <li><a href="#"><span title="Mexico"></span>México</a></li>
                <li><a href="#"><span title="Paraguay"></span>Paraguay</a></li>
                <li><a href="#"><span title="Peru"></span>Perú</a></li>
                <li><a href="#"><span title="Dominicana"></span>República Dominicana</a></li>
                <li><a href="#"><span title="Uruguay"></span>Uruguay</a></li>
                <li><a href="#"><span title="Otros"></span>Otros Paises</a></li>
              </ul>
            </div>
            <!--Selección de moneda-->
            <div id="menu-moneda" class="dropdown"><a data-toggle="dropdown" class="m-local dropdown-toggle">PEN S/.  <span class="caret"></span></a>
              <ul class="dropdown-menu moneda">
                <li><a href="#" class="m-local">PEN S/.</a></li>
                <li><a href="#">USD $</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="menu-topbar">
              <li><i aria-hidden="true" class="fa fa-phone"></i>Llámanos: 065 - 123 456 789</li>
              <li class="hidden"><i aria-hidden="true" class="fa fa-envelope"></i>Escríbenos: info@hostinga1.com</li>
              <li><a href="nosotros.html">Nosotros</a></li>
              <li><a href="soporte.html">Soporte</a></li>
              <li><a href="contacto.html">Contacto</a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-comment"></i>Chat</a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-users"></i>Acceso Clientes</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Seccion Head-->
      <div class="head clearfix">
        <!-- Menu de navegación-->
        <nav role="navigation" class="navbar container">
          <div class="row">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target="#main-menu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img id="logo" src="../img/logo_a1.png" alt="Hosting A1"></a>
            </div>
            <div id="main-menu" class="collapse navbar-collapse">
              <ul class="top-menu nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Inicio</a></li>
                <!-- Menú multinivel DOMINIOS-->
                <li class="menu-dominios"><a href="#">Dominios</a>
                  <div class="menu-container">
                    <div class="container clearfix">
                      <ul class="pull-left">
                        <li><a href="registrar-dominio.html" title="Registrar dominio"><i aria-hidden="true" class="fa fa-chevron-right"></i>                            REGISTRAR TU DOMINIO <br><span>Pon tu marca en internet ya mismo</span></a></li>
                        <li><a href="transferir-dominio.html" title="Transferir Dominio"><i aria-hidden="true" class="fa fa-chevron-right"></i>                            TRANSFERIR DOMINIO <br><span>En sencillos pasos</span></a></li>
                      </ul>
                      <ul class="description pull-left">
                        <li>
                          <h5 class="text-primary">GRATIS CON TU DOMINO</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                          <p class="text-primary"><span><i aria-hidden="true" class="fa fa-check-circle"></i> GESTIÓN DNS</span><span><i aria-hidden="true" class="fa fa-check-circle"></i> CONTROL PANEL</span><span><i aria-hidden="true" class="fa fa-check-circle"></i> SOPORTE 24/7</span></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="hosting-wordpress.html" title="Páginas web con Wordpress">Páginas Web</a></li>
                <!-- Menú Multinivel HOSTING-->
                <li class="menu-hosting"><a href="#">Hosting</a>
                  <div class="menu-container">
                    <div class="container clearfix">
                      <ul class="two-column">
                        <li><a href="hosting-economico.html" title="Hosting web"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING ECONÓMICO <br><span>Con todas las herramientas que necesitas.</span></a></li>
                        <li><a href="hosting-empresarial.html" title="Hosting empresa"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING EMPRESA <br><span>Con toda la tecnología cloud.</span></a></li>
                        <li><a href="hosting-wordpress.html" title="Hosting wordpress"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING WORDPRESS <br><span>Wordpress al instante.</span></a></li>
                        <!--ul.pull-left-->
                        <li><a href="hosting-para-windows.html" title="Hosting ASP.NET"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING ASP.NET <br><span>Más MSSQL.</span></a></li>
                        <li><a href="hosting-reseller.html" title="Hosting wordpress"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING RESELLER<br><span>Inicia tu negocio.</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="servidores-vps.html" title="Servidores">Servidores</a></li>
                <li><a href="seguridad-ssl.html" title="Seguridad">Seguridad</a></li>
                <li><a href="blog.html" title="Blog">Blog</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--Main Wrapper-->
    <div class="main-wrapper">
      <!--Barra de título de la página-->
      <header class="header-bar">
        <div class="container">
          <div class="head-page">
            <h1><span>Nosotros</span></h1>
          </div>
        </div>
      </header>
      <!--Sección principal de Nosotros-->
      <section id="pg-nosotros" class="main-content container">
        <div class="row">
          <div class="nav-nosotros col-md-3">
            <div class="nav-vertical">
              <ul class="nav nav-stacked">
                <li><a href="nosotros.html">¿Quienes somos?</a></li>
                <li><a href="nuestra-organizacion.html">Nuestra Organización</a></li>
                <li><a href="soporte.html">Soporte</a></li>
                <li><a href="terminos-y-condiciones.html">Terminos y condiciones</a></li>
                <li><a href="politica-de-privacidad.html">Política de Privacidad</a></li>
                <li><a href="terminos-de-registro-de-dominios.html">Terminos de registro de dominio    </a></li>
              </ul>
            </div>
          </div>
          <div class="main col-md-9">
            <div class="seccion-nosotros">
              <h2>¿QUIENES SOMOS?</h2>
              <p>
                 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident, sunt in    culpa qui officia deserunt mollit anim id est laborum.<a href="#">Lorem ipsum dolor sit amet, </a>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p><em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo".</em></p>
              <p>
                 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p><img src="../img/nosotros.jpg" alt="El equipo de Hosting A1" class="img-nosotros">
            </div>
            <div class="seccion-mision-vision">
              <h3>MISIÓN Y VISIÓN</h3>
              <p>
                 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<a href="#">Ut enim ad minim veniam </a>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="otros-intereses">
              <h5>ENLANCES DE INTERÉS</h5>
              <ul class="list-a-check">
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></li>
                <li><a href="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></li>
              </ul>
            </div>
            <div class="gerente-descripcion"><img src="../img/director.jpg" alt="Gerente de Hosting A1" class="img-gerente">
              <h5 class="title text-primary">
                 
                Walther Ayala<i class="fa fa-chevron-right"></i>
              </h5>
              <p class="subtitle">Gerente General de Hosting A1</p>
              <p>
                 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
            </div>
            <!--Sección Lo mejor de Nosotros-->
            <div class="section-best-of-us row">
              <div class="col-md-4 col-sm-6"><img src="../img/icon_nos_2.png">
                <h5>SOPORTE <br>PROFESIONAL</h5>
                <p>
                   
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.<br><a href="#">Acceder</a>
                </p>
              </div>
              <div class="col-md-4 col-sm-6"><img src="../img/icon_nos_3.png">
                <h5>GARANTÍA<br>DE SATISFACCIÓN</h5>
                <p>
                   
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.<br><a href="#">Acceder</a>
                </p>
              </div>
              <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3"><img src="../img/icon_nos_4.png">
                <h5>SEGURIDAD <br>ESPECIALIZADA</h5>
                <p>
                   
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.<br><a href="#">Escribir</a>
                </p>
              </div>
            </div>
            <!--Mas información-->
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit lol amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. <a href="#">Cum sociis natoque penatibus et</a>etx magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus lol mollis orci, sed rhoncus sapien nunc eget odio.</div>
          </div>
        </div>
      </section>
    </div>
    <!-- FOOTER-->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="logo-footer col-md-2 col-sm-6"><img src="../img/logo_a1_gray.png" alt="Logo Hosting A1" class="logo-a1"></div>
          <div class="recent-posts col-md-4 col-sm-6">
            <p class="title-1">ENTRADAS RECIENTES
              <ul class="media-list">
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">This should be interesting</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">Objectively seize scalable</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">This should be interesting</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
              </ul>
            </p>
          </div>
          <div class="suscription col-md-4 col-sm-6">
            <p class="title-1">SUSCRIBIRSE</p>
            <p class="date mg-57">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <form class="input-group">
              <input type="text" placeholder="nombre@dominio.com" class="form-control"><span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"> </i></button></span>
            </form>
          </div>
          <div class="socials col-md-2 col-sm-6">
            <p class="title-1">SÍGUENOS</p>
            <p class="text-center"><span><a href="#" target="_blank" title="Síguenos en Facebook" class="fa fa-facebook"></a></span><span><a href="#" target="_blank" title="Síguenos en Twitter" class="fa fa-twitter"></a></span><span><a href="#" target="_blank" title="Síguenos en Instagram" class="fa fa-instagram"></a></span></p>
          </div>
        </div>
        <hr class="bar">
        <ul class="menu-footer clearfix">
          <li><a href="politica-de-privacidad.html">Políticas de Privacidad</a></li>
          <li><a href="terminos-y-condiciones.html">Terminos y condiciones</a></li>
          <li><a href="nosotros.html">Nosotros</a></li>
          <li><a href="soporte.html">Soporte</a></li>
          <li><a href="contacto.html">Contácto</a></li>
          <li><a href="#">Acceso clientes</a></li>
        </ul>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <p class="col-sm-8">Hosting A1. Todos los derechos reservados © 2016 Arequipa - Perú</p>
            <p class="col-sm-4"><span>Powered by</span><a href="http://atixplus.com/" target="_blank" title="Atix Plus" class="logo-atix"></a></p>
          </div>
        </div>
      </div>
      <!--To-top    --><a id="to-top" href="#top" class="to-top fa fa-chevron-up"></a>
    </footer>
    <!--Scripts     -->
    <!--script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/slick.js"></script>
    <!--Script para modificar carousel de bootstrap (sliders)-->
    <script type="text/javascript">
      $(document).ready(function(){
        //Slider de precios en home
        $("#offers-slider").carousel({
          interval: 3500
        });
      
        //Slider de Banner
        $("#banner-slider").carousel({
          interval: 3500
        });
      })
    </script>
    <!--Script para slider de testimonios en Home-->
    <script type="text/javascript">
      $(document).ready(function(){
        //Función para estilos de Slider para home
        $('.testimonials-slider').slick({
          centerMode      : true,
          centerPadding   : '0px',
          slidesToShow    : 5,
          autoplay        :false,
          autoplaySpeed   :3000,
          arrows          :false,
          dots            :true,
          infinite        :true,
          responsive: [
                        {
                            breakpoint: 1199,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 5                        }
                        },
                        {
                            breakpoint: 992,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 3                        }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 3                        }
                        },
                        {
                            breakpoint: 641,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 1                        }
                        }
                    ]
          });    
      });
      
      /*Mover slider al hacer clic sobre la imagen*/
       $(".testimonials-slider .image").click(function(){
         var position = $(this).parent().data("slick-index");
         $('.testimonials-slider').slick('slickGoTo', position );
       })
       
    </script>
    <!--Script para Smooth Scroll-->
    <script type="text/javascript">
      //Función para estilos de smoot scroll
      $(document).ready(function()
      {
        // Ocultar elemento a#to-top
        var windowHeight = window.innerHeight;
      
        $(window).scroll(function()
        {
          if ($(this).scrollTop() < windowHeight)
          {
            $('#to-top') .fadeOut();
          } else
          {
            $('#to-top') .fadeIn();
          }
        });
      
        // Desplazamiento scrroll hacia arriba de a#to-top
        $('#to-top').on('click', function()
        {
          $('html, body').animate({scrollTop:0}, 'slow');
          return false;
        });
      
        //Desplazamiento a tablas de caracteristicas
        $("a.to-table").click(function(e) {
            e.preventDefault();
            var link = $(this);  
            var anchor  = link.attr('href');  
            $("html, body").animate({scrollTop: $(anchor).offset().top}, 'slow');
          });    
      });
      
    </script>
    <!--Scripts para la pagina de Zona-aprendizaje.html -Masonry gallery-->
    <script src="../js/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
      var container = document.querySelector('#masonry');
      var masonry = new Masonry(container, {
        itemSelector: '.masonry-item',
        resize      : true
      });
      
    </script>
    <!--Script para upload file Página de reportar-pago.html-->
    <script>
      $("input#comprobante").change(function()
      {
        $("span#file-archivo").html($(this).val());
      }).css('border-width',function()
      {
        if(navigator.appName == "Microsoft Internet Explorer")
          return 0;
      });
      
    </script>
    <!--Script para activar los Popover de reportar-pago.html-->
    <script>
      $('[data-toggle="popover"]').popover({
         trigger: 'focus',
         container: 'body'
      });
      
    </script>
    <!--Script para plugin Datepicker-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( "#datepicker" ).datepicker({
        maxDate: "+0D",
        dateFormat: "dd-mm-yy"
      });
      $( "#fecha" ).click(function(){
        $( "#datepicker" ).datepicker("show");
      })
    </script>
  </body>
</html>

jade/nosotros.jade
//- Importación de mixins iniciales 
include ./include/mixins.jade
//- ******************************** -//
doctype html
html(lang='es')
  head
    +head('Nosotros  :: HOSTING A1 ')
  body
    //header
    include ./include/header.jade

    //Main Wrapper
    div.main-wrapper
      
      //Barra de título de la página
      +header-bar('Nosotros')
      
      //Sección principal de Nosotros
      section#pg-nosotros.main-content.container
        .row
          .nav-nosotros.col-md-3
            //-Incluir navegación vertical
            include ./include/nav-vertical-nosotros.jade
          .main.col-md-9
            .seccion-nosotros
              h2 ¿QUIENES SOMOS?
              p 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident, sunt in    culpa qui officia deserunt mollit anim id est laborum.
                a(href="#") Lorem ipsum dolor sit amet, 
                | consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p
                em "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo".
              p 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              img.img-nosotros(src="../img/nosotros.jpg", alt="El equipo de Hosting A1")
            .seccion-mision-vision
              h3 MISIÓN Y VISIÓN
              p 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a(href="#") Ut enim ad minim veniam 
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .otros-intereses
              h5 ENLANCES DE INTERÉS
              ul.list-a-check
                li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li: a(href="#")  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .gerente-descripcion
              img.img-gerente(src="../img/director.jpg", alt="Gerente de Hosting A1")
              h5.title.text-primary 
                | Walther Ayala
                i.fa.fa-chevron-right
              p.subtitle Gerente General de Hosting A1
              p 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
              
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse.
                
            //Sección Lo mejor de Nosotros
            .section-best-of-us.row
              .col-md-4.col-sm-6
                img(src="../img/icon_nos_2.png")
                h5 SOPORTE 
                  br 
                  | PROFESIONAL
                p  
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
                  br
                  a(href="#") Acceder
              .col-md-4.col-sm-6
                img(src="../img/icon_nos_3.png")
                h5 GARANTÍA
                  br 
                  | DE SATISFACCIÓN
                p  
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
                  br
                  a(href="#") Acceder
              .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3
                img(src="../img/icon_nos_4.png")
                h5 SEGURIDAD 
                  br 
                  | ESPECIALIZADA
                p  
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
                  br
                  a(href="#") Escribir
              
            //Mas información
            div
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit lol amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. 
              a(href="#") Cum sociis natoque penatibus et
              | etx magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus lol mollis orci, sed rhoncus sapien nunc eget odio.



    // FOOTER
    include ./include/footer.jade
