jade/reportar-pago.jade
//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Reportar su Pago :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      
      //Barra de título de la página
      +header-bar('Formas de Pago')
      
      //Formas de Pago
      section#pg-payment.main-content
        .pay-report.container
          .row
            .nav-payment.col-md-3
              include ./include/nav-vertical-pagos.jade
            .pay-content.col-md-9
              h2 REPORTE SU PAGO AQUÍ
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
              form.report-form
                .form-wrap.clearfix 
                  input.form-control(type="text", placeholder="Nombre completo")
                  input.form-control(type="email", placeholder="Correo electrónico")
                .form-wrap.clearfix 
                  span.wrapper
                    input.form-control(type="text", placeholder="Nro. de Recibo")
                    a(tabindex="0", data-toggle='popover', data-trigger='focus', data-placement="top", data-content='Lorem ipsum dolor sit amet')
                      i.fa.fa-question-circle
                  span.wrapper
                    input.form-control(type="text", placeholder="Nro. de orden")
                    a(tabindex="0", data-toggle='popover', data-trigger='focus', data-placement="top", data-content='Lorem ipsum dolor sit amet')
                      i.fa.fa-question-circle
                .form-wrap.clearfix
                  span.wrapper
                    //Seleccionar Pais
                    select#pais.hidden.form-control(name="pais")
                      option(selected='', value='0') Escoja su País
                      option(value='Argentina') Argentina
                      option(value='Bolivia') Bolivia
                      option(value='Chile') Chile
                      option(value='Colombia') Colombia
                      option(value='Costa Rica') Costa Rica
                      option(value='Cuba') Cuba
                      option(value='Ecuador') Ecuador
                      option(value='Salvador') El Salvador
                      option(value='España') España
                      option(value='Estados Unidos') Estados Unidos
                      option(value='Guatemala') Guatemala
                      option(value='Honduras') Honduras
                      option(value='México') México
                      option(value='Nicaragua') Nicaragua
                      option(value='Panamá') Panamá
                      option(value='Paraguay') Paraguay
                      option(value='Peru') Perú
                      option(value='Puerto Rico') Puerto Rico
                      option(value='Republica Dominicana') Republica Dominicana
                      option(value='Uruguay') Uruguay
                      option(value='Venezuela') Venezuela
                      option(value='Otros') Otros
                    //Campo personalizado
                    .select-pais.btn-group
                      button.btn.btn-input(type='button', data-toggle='dropdown')
                        | País
                      button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        span.caret
                        span.sr-only Toggle Dropdown
                      ul.list.dropdown-menu
                        li: a(href='#')  Argentina
                        li: a(href='#')  Bolivia
                        li: a(href='#')  Chile
                        li: a(href='#')  Colombia
                        li: a(href='#')  Costa Rica                 
                        li: a(href='#')  Cuba                       
                        li: a(href='#')  Ecuador
                        li: a(href='#')  El Salvador
                        li: a(href="#")  España                    
                        li: a(href="#")  Estados Unidos            
                        li: a(href="#")  Guatemala       
                        li: a(href="#")  Honduras
                        li: a(href="#")  México
                        li: a(href="#")  Nicaragua
                        li: a(href="#")  Panamá
                        li: a(href="#")  Paraguay
                        li: a(href="#")  Perú
                        li: a(href="#")  Puerto Rico
                        li: a(href="#")  República Dominicana
                        li: a(href="#")  Uruguay
                        li: a(href="#")  Venezuela
                        li: a(href="#")  Otros
                        
                  //Seleccionar Formas de Pago
                  span.wrapper
                    select#forma-pago.hidden.form-control(name="forma-pago")
                      option(value='') Formas de Pago
                      option(value='Moneybookers') Moneybookers
                      option(value='Western Union') Western Union
                      option(value='Moneygram') Moneygram
                      option(value='Banco de Crédito del Perú') Banco de Crédito del Perú
                      option(value='Pagum') Pagum
                    
                    //Campo personalizado Forma de pago
                    .select-payment.btn-group
                      button.btn.btn-input(type='button', data-toggle='dropdown')
                        | Formas de Pago
                      button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        span.caret
                        span.sr-only Toggle Dropdown
                      ul.list.dropdown-menu
                        li: a(href='#') Moneybookers
                        li: a(href='#') Western Union
                        li: a(href='#') Moneygram
                        li: a(href='#') Banco de Crédito del Perú              
                        li: a(href='#') Pagum              
                        
                //Selección de fechas                      
                .form-wrap.clearfix
                  //Seleccionar Formas de Pago
                  span.wrapper
                    input#datepicker.form-control(type="text", placeholder="Fecha")
                    a#fecha.btn.btn-primary(type="button")
                      i.fa.fa-calendar
                .form-wrap.clearfix
                  //-Boton de subida de archivo
                  div#btn-comprobante.btn.btn-primary
                    i.fa.fa-arrow-up
                    span Subir comprobante de pago
                    input#comprobante(type="file", name="comprobante")
                  span#file-archivo Ningún archivo seleccionado
                .mensaje
                  span *
                  | No aplicable a pagos con Moneybookers ni Pagum
                  br
                  span *
                  | Escanee su recibo de Wester Union, Moneygram, ó depósito del BCP y envíe solo en formato de imágenes .gif, .jpg, .jpeg, .png y .bmp
                .form-wrap 
                  textarea.form-control(placeholder="Observaciones")
                .text-right
                  input.btn.btn-default(type="submit", value="Resportar pago")

              //Pago por BCP
              .bcp-payment
                h2 PAGA POR BCP
                P Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                ul.nav-comprobantes.nav.nav-tabs
                  li.active
                    a(data-toggle='tab', href='#factura') 
                      h5 Requiero Factura
                  li
                    a(data-toggle='tab', href='#boleta') 
                      h5 Requiero Boleta
                .tab-comprobantes.tab-content
                  #factura.tab-pane.fade.in.active
                    p Ésta forma de pago es exclusiva para Perú y está orientado a empresas que requieran factura, Ud. puede realizar sus pagos por los servicios adquiridos en AQPhost (registro de dominio, hosting, hosting reseller u otros) por Depósito o Transferencia Bancaria: 
                    ul.list-circle
                      li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                      li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                      li Proin sodales pulvinar tempor. 
                      li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                      li Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                  
                  #boleta.tab-pane.fade
                    p Ésta forma de pago es exclusiva para Perú y está orientado a empresas o personas naturales que requieran una boleta, Ud. puede realizar sus pagos por los servicios adquiridos en AQPhost (registro de dominio, hosting, hosting reseller u otros) por Depósito, Transferencia Bancaria o Agente BCP: 
                    ul.list-circle
                      li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                      li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                      li Proin sodales pulvinar tempor. 
                      li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                      li Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

              //Enlaces de interes
              .more-interest 
              h5 ENLACES DE INTERÉS
              ul.list-a-check
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.


        //- Incluir zona de aprendizaje
        include ./include/section-learning.jade 

    // Footer 
    include ./include/footer.jade

html/reportar-pago.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <!-- Titulo-->
    <title>Reportar su Pago :: HOSTING A1 </title>
    <!-- Links-->
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Muli:300,300i,400" rel="stylesheet"/>
    <!--Link para reportar-pago.html - JQUERY UI-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="icon" href="../favicon.ico"/>
  </head>
  <body>
    <!--Header-->
    <header id="header">
      <!-- Top bar-->
      <div class="top-bar-container container">
        <div class="top-bar row">
          <div class="col-md-3">
            <!-- Seleccionar País-Moneda-->
            <div id="menu-pais" class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"><span title="Peru" class="current"></span>Perú  <span class="caret"></span></a>
              <ul class="dropdown-menu paises">
                <li><a href="#"><span title="Argentina"></span>Argentina</a></li>
                <li><a href="#"><span title="Chile"></span>Chile</a></li>
                <li><a href="#"><span title="Colombia"></span>Colombia</a></li>
                <li><a href="#"><span title="Ecuador"></span>Ecuador</a></li>
                <li><a href="#"><span title="Espana"></span>España</a></li>
                <li><a href="#"><span title="Mexico"></span>México</a></li>
                <li><a href="#"><span title="Paraguay"></span>Paraguay</a></li>
                <li><a href="#"><span title="Peru"></span>Perú</a></li>
                <li><a href="#"><span title="Dominicana"></span>República Dominicana</a></li>
                <li><a href="#"><span title="Uruguay"></span>Uruguay</a></li>
                <li><a href="#"><span title="Otros"></span>Otros Paises</a></li>
              </ul>
            </div>
            <!--Selección de moneda-->
            <div id="menu-moneda" class="dropdown"><a data-toggle="dropdown" class="m-local dropdown-toggle">PEN S/.  <span class="caret"></span></a>
              <ul class="dropdown-menu moneda">
                <li><a href="#" class="m-local">PEN S/.</a></li>
                <li><a href="#">USD $</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="menu-topbar">
              <li><i aria-hidden="true" class="fa fa-phone"></i>Llámanos: 065 - 123 456 789</li>
              <li class="hidden"><i aria-hidden="true" class="fa fa-envelope"></i>Escríbenos: info@hostinga1.com</li>
              <li><a href="nosotros.html">Nosotros</a></li>
              <li><a href="soporte.html">Soporte</a></li>
              <li><a href="contacto.html">Contacto</a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-comment"></i>Chat</a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-users"></i>Acceso Clientes</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Seccion Head-->
      <div class="head clearfix">
        <!-- Menu de navegación-->
        <nav role="navigation" class="navbar container">
          <div class="row">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target="#main-menu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img id="logo" src="../img/logo_a1.png" alt="Hosting A1"></a>
            </div>
            <div id="main-menu" class="collapse navbar-collapse">
              <ul class="top-menu nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Inicio</a></li>
                <!-- Menú multinivel DOMINIOS-->
                <li class="menu-dominios"><a href="#">Dominios</a>
                  <div class="menu-container">
                    <div class="container clearfix">
                      <ul class="pull-left">
                        <li><a href="registrar-dominio.html" title="Registrar dominio"><i aria-hidden="true" class="fa fa-chevron-right"></i>                            REGISTRAR TU DOMINIO <br><span>Pon tu marca en internet ya mismo</span></a></li>
                        <li><a href="transferir-dominio.html" title="Transferir Dominio"><i aria-hidden="true" class="fa fa-chevron-right"></i>                            TRANSFERIR DOMINIO <br><span>En sencillos pasos</span></a></li>
                      </ul>
                      <ul class="description pull-left">
                        <li>
                          <h5 class="text-primary">GRATIS CON TU DOMINO</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                          <p class="text-primary"><span><i aria-hidden="true" class="fa fa-check-circle"></i> GESTIÓN DNS</span><span><i aria-hidden="true" class="fa fa-check-circle"></i> CONTROL PANEL</span><span><i aria-hidden="true" class="fa fa-check-circle"></i> SOPORTE 24/7</span></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="hosting-wordpress.html" title="Páginas web con Wordpress">Páginas Web</a></li>
                <!-- Menú Multinivel HOSTING-->
                <li class="menu-hosting"><a href="#">Hosting</a>
                  <div class="menu-container">
                    <div class="container clearfix">
                      <ul class="two-column">
                        <li><a href="hosting-economico.html" title="Hosting web"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING ECONÓMICO <br><span>Con todas las herramientas que necesitas.</span></a></li>
                        <li><a href="hosting-empresarial.html" title="Hosting empresa"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING EMPRESA <br><span>Con toda la tecnología cloud.</span></a></li>
                        <li><a href="hosting-wordpress.html" title="Hosting wordpress"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING WORDPRESS <br><span>Wordpress al instante.</span></a></li>
                        <!--ul.pull-left-->
                        <li><a href="hosting-para-windows.html" title="Hosting ASP.NET"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING ASP.NET <br><span>Más MSSQL.</span></a></li>
                        <li><a href="hosting-reseller.html" title="Hosting wordpress"><i aria-hidden="true" class="fa fa-chevron-right"></i>HOSTING RESELLER<br><span>Inicia tu negocio.</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="servidores-vps.html" title="Servidores">Servidores</a></li>
                <li><a href="seguridad-ssl.html" title="Seguridad">Seguridad</a></li>
                <li><a href="blog.html" title="Blog">Blog</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--Main-Wrapper-->
    <div class="main-wrapper">
      <!--Barra de título de la página-->
      <header class="header-bar">
        <div class="container">
          <div class="head-page">
            <h1><span>Formas de Pago</span></h1>
          </div>
        </div>
      </header>
      <!--Formas de Pago-->
      <section id="pg-payment" class="main-content">
        <div class="pay-report container">
          <div class="row">
            <div class="nav-payment col-md-3">
              <div class="nav-vertical">
                <ul class="nav nav-stacked">
                  <li><a href="reportar-pago.html"> <i class="fa fa-money"></i>Reporte su pago aquí</a></li>
                  <li><a href="pago-bcp-peru.html"> <i class="fa fa-bank"></i>BCP</a></li>
                  <li><a href="pago-por-tarjeta.html"> <i class="fa fa-credit-card-alt"></i>Tarjetas de Crédito</a></li>
                  <li><a href="pago-por-western-union.html"> <i class="fa fa-credit-card"></i>Western Union</a></li>
                  <li><a href="pago-por-moneygram.html"><i class="fa fa-credit-card"> </i>MoneyGram</a></li>
                </ul>
              </div>
            </div>
            <div class="pay-content col-md-9">
              <h2>REPORTE SU PAGO AQUÍ</h2>
              <p>
                 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
              </p>
              <form class="report-form">
                <div class="form-wrap clearfix"> 
                  <input type="text" placeholder="Nombre completo" class="form-control">
                  <input type="email" placeholder="Correo electrónico" class="form-control">
                </div>
                <div class="form-wrap clearfix"> <span class="wrapper">
                    <input type="text" placeholder="Nro. de Recibo" class="form-control"><a tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Lorem ipsum dolor sit amet"><i class="fa fa-question-circle"></i></a></span><span class="wrapper">
                    <input type="text" placeholder="Nro. de orden" class="form-control"><a tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Lorem ipsum dolor sit amet"><i class="fa fa-question-circle"></i></a></span></div>
                <div class="form-wrap clearfix"><span class="wrapper">
                    <!--Seleccionar Pais-->
                    <select id="pais" name="pais" class="hidden form-control">
                      <option selected="" value="0">Escoja su País</option>
                      <option value="Argentina">Argentina</option>
                      <option value="Bolivia">Bolivia</option>
                      <option value="Chile">Chile</option>
                      <option value="Colombia">Colombia</option>
                      <option value="Costa Rica">Costa Rica</option>
                      <option value="Cuba">Cuba</option>
                      <option value="Ecuador">Ecuador</option>
                      <option value="Salvador">El Salvador</option>
                      <option value="España">España</option>
                      <option value="Estados Unidos">Estados Unidos</option>
                      <option value="Guatemala">Guatemala</option>
                      <option value="Honduras">Honduras</option>
                      <option value="México">México</option>
                      <option value="Nicaragua">Nicaragua</option>
                      <option value="Panamá">Panamá</option>
                      <option value="Paraguay">Paraguay</option>
                      <option value="Peru">Perú</option>
                      <option value="Puerto Rico">Puerto Rico</option>
                      <option value="Republica Dominicana">Republica Dominicana</option>
                      <option value="Uruguay">Uruguay</option>
                      <option value="Venezuela">Venezuela</option>
                      <option value="Otros">Otros</option>
                    </select>
                    <!--Campo personalizado-->
                    <div class="select-pais btn-group">
                      <button type="button" data-toggle="dropdown" class="btn btn-input">País</button>
                      <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <ul class="list dropdown-menu">
                        <li><a href="#"> Argentina</a></li>
                        <li><a href="#"> Bolivia</a></li>
                        <li><a href="#"> Chile</a></li>
                        <li><a href="#"> Colombia</a></li>
                        <li><a href="#"> Costa Rica                 </a></li>
                        <li><a href="#"> Cuba                       </a></li>
                        <li><a href="#"> Ecuador</a></li>
                        <li><a href="#"> El Salvador</a></li>
                        <li><a href="#"> España                    </a></li>
                        <li><a href="#"> Estados Unidos            </a></li>
                        <li><a href="#"> Guatemala       </a></li>
                        <li><a href="#"> Honduras</a></li>
                        <li><a href="#"> México</a></li>
                        <li><a href="#"> Nicaragua</a></li>
                        <li><a href="#"> Panamá</a></li>
                        <li><a href="#"> Paraguay</a></li>
                        <li><a href="#"> Perú</a></li>
                        <li><a href="#"> Puerto Rico</a></li>
                        <li><a href="#"> República Dominicana</a></li>
                        <li><a href="#"> Uruguay</a></li>
                        <li><a href="#"> Venezuela</a></li>
                        <li><a href="#"> Otros</a></li>
                      </ul>
                    </div></span>
                  <!--Seleccionar Formas de Pago--><span class="wrapper">
                    <select id="forma-pago" name="forma-pago" class="hidden form-control">
                      <option value="">Formas de Pago</option>
                      <option value="Moneybookers">Moneybookers</option>
                      <option value="Western Union">Western Union</option>
                      <option value="Moneygram">Moneygram</option>
                      <option value="Banco de Crédito del Perú">Banco de Crédito del Perú</option>
                      <option value="Pagum">Pagum</option>
                    </select>
                    <!--Campo personalizado Forma de pago-->
                    <div class="select-payment btn-group">
                      <button type="button" data-toggle="dropdown" class="btn btn-input">Formas de Pago</button>
                      <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <ul class="list dropdown-menu">
                        <li><a href="#">Moneybookers</a></li>
                        <li><a href="#">Western Union</a></li>
                        <li><a href="#">Moneygram</a></li>
                        <li><a href="#">Banco de Crédito del Perú              </a></li>
                        <li><a href="#">Pagum              </a></li>
                      </ul>
                    </div></span>
                </div>
                <!--Selección de fechas                      -->
                <div class="form-wrap clearfix">
                  <!--Seleccionar Formas de Pago--><span class="wrapper">
                    <input id="datepicker" type="text" placeholder="Fecha" class="form-control"><a id="fecha" type="button" class="btn btn-primary"><i class="fa fa-calendar"></i></a></span>
                </div>
                <div class="form-wrap clearfix">
                  <div id="btn-comprobante" class="btn btn-primary"><i class="fa fa-arrow-up"></i><span>Subir comprobante de pago</span>
                    <input id="comprobante" type="file" name="comprobante">
                  </div><span id="file-archivo">Ningún archivo seleccionado</span>
                </div>
                <div class="mensaje"><span>*</span>No aplicable a pagos con Moneybookers ni Pagum<br><span>*</span>Escanee su recibo de Wester Union, Moneygram, ó depósito del BCP y envíe solo en formato de imágenes .gif, .jpg, .jpeg, .png y .bmp</div>
                <div class="form-wrap"> 
                  <textarea placeholder="Observaciones" class="form-control"></textarea>
                </div>
                <div class="text-right">
                  <input type="submit" value="Resportar pago" class="btn btn-default">
                </div>
              </form>
              <!--Pago por BCP-->
              <div class="bcp-payment">
                <h2>PAGA POR BCP</h2>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</P>
                <ul class="nav-comprobantes nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#factura"> 
                      <h5>Requiero Factura</h5></a></li>
                  <li><a data-toggle="tab" href="#boleta"> 
                      <h5>Requiero Boleta</h5></a></li>
                </ul>
                <div class="tab-comprobantes tab-content">
                  <div id="factura" class="tab-pane fade in active">
                    <p>Ésta forma de pago es exclusiva para Perú y está orientado a empresas que requieran factura, Ud. puede realizar sus pagos por los servicios adquiridos en AQPhost (registro de dominio, hosting, hosting reseller u otros) por Depósito o Transferencia Bancaria: </p>
                    <ul class="list-circle">
                      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. </li>
                      <li>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </li>
                      <li>Proin sodales pulvinar tempor. </li>
                      <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </li>
                      <li>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</li>
                    </ul>
                  </div>
                  <div id="boleta" class="tab-pane fade">
                    <p>Ésta forma de pago es exclusiva para Perú y está orientado a empresas o personas naturales que requieran una boleta, Ud. puede realizar sus pagos por los servicios adquiridos en AQPhost (registro de dominio, hosting, hosting reseller u otros) por Depósito, Transferencia Bancaria o Agente BCP: </p>
                    <ul class="list-circle">
                      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. </li>
                      <li>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </li>
                      <li>Proin sodales pulvinar tempor. </li>
                      <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </li>
                      <li>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--Enlaces de interes-->
              <div class="more-interest"> </div>
              <h5>ENLACES DE INTERÉS</h5>
              <ul class="list-a-check">
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="section-learning">
          <div class="container">
            <h2>HOSTING A1 TE ENSEÑA</h2>
            <div class="info"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, perferendis, amet! Numquam tempore deleniti a amet quod minima iure veritatis aliquam expedita. Commodi odit repellendus, officiis est aliquam perferendis. Pariatur.</div><a href="zona-aprendizaje.html" class="btn btn-primary">Acceder al centro de aprendizaje</a>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="logo-footer col-md-2 col-sm-6"><img src="../img/logo_a1_gray.png" alt="Logo Hosting A1" class="logo-a1"></div>
          <div class="recent-posts col-md-4 col-sm-6">
            <p class="title-1">ENTRADAS RECIENTES
              <ul class="media-list">
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">This should be interesting</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">Objectively seize scalable</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"><a href="#"><img src="http://lorempixel.com/output/business-q-c-100-60-8.jpg" alt="Título de la entrada" class="media-object enter"></a></div>
                  <div class="media-body">
                    <p class="media-heading">This should be interesting</p><span class="date"><i class="fa fa-calendar-o"> </i>Nov 26,2016</span>
                  </div>
                </li>
              </ul>
            </p>
          </div>
          <div class="suscription col-md-4 col-sm-6">
            <p class="title-1">SUSCRIBIRSE</p>
            <p class="date mg-57">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <form class="input-group">
              <input type="text" placeholder="nombre@dominio.com" class="form-control"><span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"> </i></button></span>
            </form>
          </div>
          <div class="socials col-md-2 col-sm-6">
            <p class="title-1">SÍGUENOS</p>
            <p class="text-center"><span><a href="#" target="_blank" title="Síguenos en Facebook" class="fa fa-facebook"></a></span><span><a href="#" target="_blank" title="Síguenos en Twitter" class="fa fa-twitter"></a></span><span><a href="#" target="_blank" title="Síguenos en Instagram" class="fa fa-instagram"></a></span></p>
          </div>
        </div>
        <hr class="bar">
        <ul class="menu-footer clearfix">
          <li><a href="politica-de-privacidad.html">Políticas de Privacidad</a></li>
          <li><a href="terminos-y-condiciones.html">Terminos y condiciones</a></li>
          <li><a href="nosotros.html">Nosotros</a></li>
          <li><a href="soporte.html">Soporte</a></li>
          <li><a href="contacto.html">Contácto</a></li>
          <li><a href="#">Acceso clientes</a></li>
        </ul>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <p class="col-sm-8">Hosting A1. Todos los derechos reservados © 2016 Arequipa - Perú</p>
            <p class="col-sm-4"><span>Powered by</span><a href="http://atixplus.com/" target="_blank" title="Atix Plus" class="logo-atix"></a></p>
          </div>
        </div>
      </div>
      <!--To-top    --><a id="to-top" href="#top" class="to-top fa fa-chevron-up"></a>
    </footer>
    <!--Scripts     -->
    <!--script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/slick.js"></script>
    <!--Script para modificar carousel de bootstrap (sliders)-->
    <script type="text/javascript">
      $(document).ready(function(){
        //Slider de precios en home
        $("#offers-slider").carousel({
          interval: 3500
        });
      
        //Slider de Banner
        $("#banner-slider").carousel({
          interval: 3500
        });
      })
    </script>
    <!--Script para slider de testimonios en Home-->
    <script type="text/javascript">
      $(document).ready(function(){
        //Función para estilos de Slider para home
        $('.testimonials-slider').slick({
          centerMode      : true,
          centerPadding   : '0px',
          slidesToShow    : 5,
          autoplay        :false,
          autoplaySpeed   :3000,
          arrows          :false,
          dots            :true,
          infinite        :true,
          responsive: [
                        {
                            breakpoint: 1199,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 5                        }
                        },
                        {
                            breakpoint: 992,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 3                        }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 3                        }
                        },
                        {
                            breakpoint: 641,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '0px',
                                slidesToShow: 1                        }
                        }
                    ]
          });    
      });
      
      /*Mover slider al hacer clic sobre la imagen*/
       $(".testimonials-slider .image").click(function(){
         var position = $(this).parent().data("slick-index");
         $('.testimonials-slider').slick('slickGoTo', position );
       })
       
    </script>
    <!--Script para Smooth Scroll-->
    <script type="text/javascript">
      //Función para estilos de smoot scroll
      $(document).ready(function()
      {
        // Ocultar elemento a#to-top
        var windowHeight = window.innerHeight;
      
        $(window).scroll(function()
        {
          if ($(this).scrollTop() < windowHeight)
          {
            $('#to-top') .fadeOut();
          } else
          {
            $('#to-top') .fadeIn();
          }
        });
      
        // Desplazamiento scrroll hacia arriba de a#to-top
        $('#to-top').on('click', function()
        {
          $('html, body').animate({scrollTop:0}, 'slow');
          return false;
        });
      
        //Desplazamiento a tablas de caracteristicas
        $("a.to-table").click(function(e) {
            e.preventDefault();
            var link = $(this);  
            var anchor  = link.attr('href');  
            $("html, body").animate({scrollTop: $(anchor).offset().top}, 'slow');
          });    
      });
      
    </script>
    <!--Scripts para la pagina de Zona-aprendizaje.html -Masonry gallery-->
    <script src="../js/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
      var container = document.querySelector('#masonry');
      var masonry = new Masonry(container, {
        itemSelector: '.masonry-item',
        resize      : true
      });
      
    </script>
    <!--Script para upload file Página de reportar-pago.html-->
    <script>
      $("input#comprobante").change(function()
      {
        $("span#file-archivo").html($(this).val());
      }).css('border-width',function()
      {
        if(navigator.appName == "Microsoft Internet Explorer")
          return 0;
      });
      
    </script>
    <!--Script para activar los Popover de reportar-pago.html-->
    <script>
      $('[data-toggle="popover"]').popover({
         trigger: 'focus',
         container: 'body'
      });
      
    </script>
    <!--Script para plugin Datepicker-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( "#datepicker" ).datepicker({
        maxDate: "+0D",
        dateFormat: "dd-mm-yy"
      });
      $( "#fecha" ).click(function(){
        $( "#datepicker" ).datepicker("show");
      })
    </script>
  </body>
</html>
